@{
    ViewBag.Title = "Bekreftelse";
}

<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

<div class="container">
    <h1 id="tickets-header">BEKREFTELSE</h1>
    <div class="biletter">

    </div>
    <a href="Passasjer" class="btn btn-lg btn-default pull-left">Tilbake</a>
    <a href="#" class="btn btn-lg btn-primary pull-right">Betale</a>
</div>