@model Flybiletter.Models.Order
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 id="tickets-header">BEKREFTELSE</h1>
        <div class="biletter">
            
        </div>
        <a href="Passenger" class="btn btn-lg btn-default pull-left">Tilbake</a>
        <input type="submit" value="BETALE" class="btn btn-lg btn-primary pull-right">
    </div>
</body>
</html>



