<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="biletter">
            <h1>KONTAKT</h1>
            <br />
            <br />
            <h3>AIRZURE AIRLINES</h3>

            <p><label>Åpningstider</label></p>
            <p>Man–fre: kl. 07.00–19.00</p>
            <p>Lør: kl. 09.00–17.00</p>
            <p>Søn: kl. 10.00–19.00</p>
            <br />
            <p><label>Telefon: +47 40 12 34 56</label></p>
            <p><label>E-post: </label> airzureairlines@gmail.com</p>
        </div>

        <!--
            
        Åpningstider:
Man–fre: kl. 07.00–19.00
Lør: kl. 09.00–17.00
Søn: kl. 10.00–19.00
            
            -->

    </div>
</body>
</html>
