<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="biletter">
            <h2>AIRZURE AIRLINES</h2>

            <p><label>Åpningstider</label></p>
            <p>Man–fre: kl. 07.00–19.00</p>
            <p>Lør: kl. 09.00–17.00</p>
            <p>Søn: kl. 10.00–19.00</p>
            <br />
            <p><label>Telefon: </label> +47 40 12 34 56</p>
            <p><label>E-post: </label> airzureairlines@gmail.com</p>
        </div>
    </div>
</body>
</html>
