@model Flybiletter.Models.Departure

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" />
    <title>Reise</title>
</head>
<body>

    <div class="container">
        <!--UTREISE-->
        <h2 id="tickets-header">UTREISE</h2>
        <p>@ViewData["ToAirport"]</p>
        <div class="biletter">
            <table class="table table-hover">
                <thread>
                    <tr>
                        
                        <th>Tid</th>
                        <th>Antall timer</th>
                        <th>Destinasjon</th>
                        <th>Flyselskap</th>
                        <th>Pris</th>
                    </tr>
                   
                </thread>
            </table>
        </div>

        

        <a href="Index" class="btn btn-lg btn-default pull-left">Tilbake</a>
        <a href="/Home/Passenger" class="btn btn-lg btn-primary pull-right" id="button-design">Fortsett</a>
    </div>

</body>
</html>
