@model List<Flybiletter.Models.Airport>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <title>Bestill</title>

</head>
<body>
    <!--BESTILLING AV BILLET-->
    <div>
        <h1 id="tickets-header">SØK FLYBILETTER</h1>
    </div>
    <div class="biletter">
        <form action="~/Home/FlightDetails" name="index" method="post">
            <div class="container">
                <div class="row">
                    <div class="col-sm-1 col-md-2">
                    </div>
                    <div class="col col-sm-10 col-md-4 text-center">
                        <div class="row">
                            <div>
                                <label>FRA</label>
                            </div>
                            <div>
                                <input type="search" name="from" class="input-dialog-design" list="airports">
                                <datalist id="airports">
                                    @foreach (var airport in Model)
                                    {
                                        <option value="@airport.Name"></option>
                                    }
                                </datalist>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-10 col-md-4 text-center">
                        <div class="row">
                            <div>
                                <label>TIL</label>
                            </div>
                            <div>
                                <input type="search" name="to" class="input-dialog-design" list="airports">
                                <datalist id="airports">
                                    @foreach (var airport in Model)
                                    {
                                        <option value="@airport.Name"></option>
                                    }
                                </datalist>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1 col-md-2">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-1 col-md-2">

                    </div>
                    <div class="col-sm-10 col-md-4 text-center">
                        <div class="row">
                            <div>
                                <label>AVREISE</label>
                            </div>
                            <div>
                                <input class="date-design" type="date" name="avreise" />
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-12">
                        <input type="submit" class="btn btn-lg btn-primary">
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
