@model Flybiletter.Models.Avgang

@{
    ViewBag.Title = "Utreise";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"
    <title>Reise</title>
</head>
<body>



<div class="container">
    <!--UTREISE-->
    <h2 id="tickets-header">UTREISE</h2>
    <div class="biletter">
        <table class="table table-hover">
            <thread>
                <tr>
                    <td>Eksempel 1 tid</td>
                    <td>Eksempel 1 pris</td>
                </tr>
                <tr>
                    <td>Eksempel 2 tid</td>
                    <td>Eksempel 2 pris</td>
                </tr>
                <tr>
                    <td>Eksempel 3 tid</td>
                    <td>Eksempel 3 pris</td>
                </tr>
                <tr>
                    <td>Eksempel 4 tid</td>
                    <td>Eksempel 4 pris</td>
                </tr>
                <tr>
                    <td>Eksempel 5 tid</td>
                    <td>Eksempel 5 pris</td>
                </tr>
            </thread>
        </table>
    </div>

    <br /><br />

    <!--HJEMREISE-->
    <h2 id="tickets-header">HJEMREISE</h2>
    <div class="biletter">
        <table class="table table-hover">
            <thread>
                <tr>
                    <td>Eksempel 1 tid</td>
                    <td>Eksempel 1 pris</td>
                </tr>
                <tr>
                    <td>Eksempel 2 tid</td>
                    <td>Eksempel 2 pris</td>
                </tr>
                <tr>
                    <td>Eksempel 3 tid</td>
                    <td>Eksempel 3 pris</td>
                </tr>
                <tr>
                    <td>Eksempel 4 tid</td>
                    <td>Eksempel 4 pris</td>
                </tr>
                <tr>
                    <td>Eksempel 5 tid</td>
                    <td>Eksempel 5 pris</td>
                </tr>
            </thread>
        </table>
    </div>
    <br />
    <a href="Index" class="btn btn-lg btn-default pull-left">Tilbake</a>
    <a href="/Home/Passasjer" class="btn btn-lg btn-primary pull-right" id="button-design">Fortsett</a>
</div>

</body>
</html>

