@model List<Flybiletter.Models.Departure>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" />
    <title>Reise</title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript">
       
    </script>
</head>
<body>

    <div class="container">
        <!--UTREISE-->
        <h2 id="tickets-header">UTREISE</h2>
        <div class="biletter">
            <table class="table table-hover" id="table">
                <thread>
                    <tr>
                        <th>Tid</th>
                        <th>Dato</th>
                        <th>Fra</th>
                        <th>Til</th>
                        <th>Pris</th>
                    </tr>

                    @foreach (var departure in Model)
                    {
                        <tr>
                            <td>@departure.DepartureTime</td>
                            <td>@departure.Date</td>
                            <td>@departure.From</td>
                            <td>@departure.To</td>
                        </tr>
                    }

                </thread>
            </table>
        </div>

        <br /><br />

        <!--HJEMREISE-->
        <h2 id="tickets-header">HJEMREISE</h2>
        <div class="biletter">
            <table class="table table-hover">
                <thread>
                    <tr>
                        <th>Tid</th>
                        <th>Antall timer</th>
                        <th>Destinasjon</th>
                        <th>Flyselskap</th>
                        <th>Pris</th>
                    </tr>

                </thread>
            </table>
        </div>
        <br /> <br />

        <h2 id="tickets-header">MIN TUR</h2>
        <div class="biletter">
            <table>
                <thread>
                    <tr>
                        <th>Tid</th>
                        <th>Antall timer</th>
                        <th>Destinasjon</th>
                        <th>Flyselskap</th>
                        <th>Pris</th>
                    </tr>
            </table>
        </div>

        <a href="Index" class="btn btn-lg btn-default pull-left">Tilbake</a>
        <a href="/Home/Passenger" class="btn btn-lg btn-primary pull-right" id="button-design">Fortsett</a>
    </div>

</body>
</html>
